@import 'reset';

$buttonColor: #DD482A;

.splash-container
{
    width: 500px;
    margin: 20px auto;

    text-align: center;

    h1
    {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
    }

    p
    {
        margin: 20px;
    }
}

.button
{
    text-align: center;
    border: 0px;
    padding: 10px;
    cursor: pointer;
    
    text-decoration: none;
    font-weight: bold;
    color: #fff;

    background-color: $buttonColor;
}